header {
  background-color: var(--light);
  margin: 0 0 20px 0;
}
header nav,
header > .navbar {
  padding-left: 0;
}
.navbar-collapse {
  justify-content: space-between;
}
.bi-book {
  width: 50px;
  height: auto;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  transition: transform 0.3s linear;
  backface-visibility: hidden;
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--grey);
  transform: scale(1.05) translateZ(0);;
}
