h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
.right {
  padding: 0;
  clear: right;
}
img {
  max-width: 50%;
  margin-bottom: 10px;
}
.btn-group {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  img {
    max-width: none;
  }
}
