a {
  text-decoration: none;
  color: black;
  width: 100%;
  min-height: 150px;
  margin: 0 0 10px 0;
}
.top {
  margin: 0 0 10px 0;
}

h2 {
  font-size: 1.2rem;
}

img {
  max-width: 100px;
  height: auto;
  display: inline-block;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 0;
}
