<p *ngIf="!id;else second">Please select a Recipe</p>
<ng-template #second>
  <p *ngIf="!recipe;else showRecipe">No such recipe</p>
</ng-template>
<ng-template #showRecipe>
  <div class="row">
    <div class="col-md-12">
      <img src="{{recipe.imagePath}}"
           alt="{{recipe.name}}"
           class="image-responsive">
    </div>
  </div>
  <div class="row  mt-2">
    <div class="col-auto mr-auto">
      <h2>{{recipe.name}}</h2>
    </div>
    <div class="col-auto">
      <div class="btn-group">
        <button type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          Menage Recipe
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item"
             (click)="sendIngredients(recipe.ingredients)">Add To Shopping List</a>
          <a class="dropdown-item"
             [routerLink]="['/recipe-book', recipe.id, 'edit']"
             class="dropdown-item">Edit Recipe</a>
          <a class="dropdown-item"
             (click)="delRecipe()">Delete Recipe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>{{recipe.description}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <div class="list-group-item"
             *ngFor="let ingredient of recipe.ingredients">
          <span class="float-left">{{ingredient.name}}</span>
          <span class="float-right">({{ingredient.amount}})</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
