form > div.row:last-child .btn-primary {
  margin: 0 10px 0 0;
}
.add-ingredient {
  margin: 0 0 15px 0;
}
.del-ingredient {
  display: grid;
}
.del-ingredient .btn {
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  position: relative;
  padding: 15px;
}
.del-ingredient .btn:after {
  content: "\2715";
  color: white;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
@media (max-width: 575px) {
  .ingredients [class^="col-"]:nth-child(even) {
    padding: 0 3px;
  }
}

@media (max-width: 767px) {
  .ingredients [class^="col-"]:nth-child(even) {
    padding: 0 7px;
  }
}
