<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm"
              (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               id="name"
                               class="form-control"
                               formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Image URL/Path</label>
                        <input type="text"
                               id="imagePath"
                               class="form-control"
                               formControlName="imagePath">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="{{imagePath?.value}}"
                         alt="{{name?.value}}"
                         class="img-responsive mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Description</label>
                        <textarea name=""
                                  id="description"
                                  rows="6"
                                  class="form-control"
                                  formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"
                     formArrayName="ingredients">
                    <button class="btn btn-primary add-ingredient"
                            type="button"
                            (click)="addIngredient()">Add Ingredient</button>
                    <ng-container *ngFor="let ingredient of ingredients?.controls; let i = index">
                        <div class="row ingredients"
                             [formGroup]="ingredient">
                            <div class="col-6 col-sm-8 col-md-9 form-group">
                                <input type="text"
                                       class="form-control"
                                       formControlName="name">
                            </div>
                            <div class="col-3 col-sm-2 col-md-2 form-group">
                                <input type="number"
                                       placeholder="0.00"
                                       step="0.01"
                                       min="0"
                                       class="form-control "
                                       formControlName="amount"
                                       style="text-align: right;">
                            </div>
                            <div class="col-3 col-sm-2 col-md-1 form-group del-ingredient">
                                <button class="btn btn-primary"
                                        type="button"
                                        (click)="delIngredient(i)"></button>
                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ng-container *ngIf="editMode;else addMode">
                        <button class="btn btn-primary"
                                type="button"
                                (click)="onEditRecipe()"
                                [disabled]="!recipeForm.valid">Save</button>
                    </ng-container>
                    <ng-template #addMode>
                        <button class="btn btn-primary"
                                type="submit"
                                [disabled]="!recipeForm.valid">Save</button>
                    </ng-template>
                    <button class="btn btn-primary"
                            type="button"
                            (click)="goBack()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
